@import url('/styles/nav.css');
@import url('/styles/banner.css');
@import url('/styles/stats.css');
@import url('/styles/talent.css');

:root{
    --vermelho: #8E2424;
    --black: #101828;
    --gray: #667085;
    font-family: 'inter';
}