@import url('/styles/nav.css');
@import url('/styles/banner.css');
@import url('/styles/stats.css');
@import url('/styles/talent.css');
@import url('/styles/team.css');
@import url('/styles/footer.css');
@import url('reset.css');

:root{
    --vermelho: #8E2424;
    --black: #101828;
    --gray: #667085;
    --light-gray: #F9FAFB;
    --white: #fff;
    --light-border: #EAECF0;
    --light-pink:rgba(196, 25, 25, 0.03);
    font-family: 'inter';

}

*{
    box-sizing: border-box;
}


.horizontal-line{
    display: block;
    width: 90vw;
    margin: 1rem auto;
}

@media screen and (min-width:768px) {
    .horizontal-line{
        display: none;
    }
}