.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem 3vw;
  width: 100vw;
}

.banner__about {
  font-weight: 600;
  color: var(--vermelho);
  padding: 1rem 0rem;
  font-size: 12px;
}

.banner__title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.02em;
  color: var(--black);
  padding: 1rem 0rem;
}

.banner__text {
  font-weight: 400;
  font-size: 14px;
  color: var(--gray);
  padding: 1rem 0rem;
  line-height: 30px;
}


@media screen and (min-width: 768px) {
  .banner{
    padding: 5rem 5vw;
  }

  .banner__about {
    font-size: 16px;
  }

  .banner__title {
    font-size: 32px;
  }

  .banner__text {
    font-size: 16px;
    color: var(--gray);
  }


}


@media screen and (min-width: 1024px) {
  .banner{
    padding: 6rem 20vw;
  }

  .banner__title {
    font-size: 48px;
  }

  .banner__text {
    font-size: 20px;
    color: var(--gray);
  }


}