.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0.5rem 7vw;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.nav__name {
  margin-left: 0.5rem;
}

.nav-list {
  margin: 0 auto 0 8rem;
}

.nav-list__item {
  padding: 4px 0px;
  margin-right: 2rem;
}

.nav-button__item {
  padding: 1rem;
  margin: 0 1rem;

}

.nav-button__link {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

.nav-button__item--red {
  background-color: var(--button);
  border-radius: 8px;
  width: 112px;
  height: 44px;
}

.nav-button__link--red {
  color: white;
}
