.talent-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 1rem;
}

.talent-main__tag {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--vermelho);
  width: auto;
  margin: 0 auto 1rem;
  background: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
  padding: 4px 12px;
}

.talent-main__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  margin: 0 auto 20px;

  text-align: center;
  letter-spacing: -0.02em;

  color: var(--black);
}

.talent-main__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0 auto 2rem;
  text-align: center;
  color: #667085;
}

.talent-main__image {
  margin: 0 3vw 4rem;
}

/*2nd article*/

.talent-jobs {
  margin: 0 5vw 3rem;
}

.talent-jobs__area {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 1rem 0 1rem;

  color: var(--black);
}

.talent-jobs__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 24px 28px;
  gap: 24px;
  margin: 1rem auto;
  background: var(--white);
  border: 1px solid var(--light-border);
  border-radius: 16px;
}

.talent-jobs__card:hover{
  background: var(--light-gray);
  scale:1.1;
}

.talent-jobs__Card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
}

.talent-jobs__card-dados {
  display: flex;
}

.talent-jobs__card-dados > p {
  margin-right: 1.5rem;
  color: var(--gray);
}

@media screen and (min-width: 768px) {
  .talent-jobs {
    margin: 0 20vw 6rem;
  }

  .talent-main__title {
    font-size: 36px;
  }
  .talent-main__text {
    font-size: 20px;
  }
  .talent-main__image {
    margin: 0 10vw 4rem;
  }

  .talent-jobs__area {
    margin: 2rem 0 2rem;
  }


}

@media screen and (min-width: 1024px) {

  .talent-jobs{
    display: flex;
    margin: 0 10vw 6rem;
  }

  .talent-jobs__wrapper-card{
    margin: 0.5rem auto;
  }


}